awscli==1.14.32
botocore==1.8.36
buildozer==0.33.dev0
CD==1.1.0
colorama==0.3.7
docopt==0.6.2
docutils==0.14
futures==3.2.0
jmespath==0.9.3
mercurial==4.2
pexpect==4.2.1
ptyprocess==0.5.1
pyasn1==0.4.2
python-dateutil==2.6.1
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.12
sh==1.12.6
six==1.11.0
virtualenv==15.1.0
